* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.book {
    width: 30%;
    padding: 20px;
    background-color: salmon;
    border-radius: 8px;
}

h1 {
    text-align: center;
}

p {
    font-size: 30px;
}

.books {
    width: 30%;
    padding: 20px;
    background-color: salmon;
    border-radius: 8px;
}

button {
    padding: 20px 10px;
    border-radius: 8px;
    background-color: aqua;
    font-size: 18px;
    border: none;
    outline: none;
    margin-left: 200px;
}